<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>valentine</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Dela+Gothic+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>

    <div class="next-five" data-aos="fade-left">
        <a href="six.page.html">
            NEXT>>
        </a>
    </div>
    <div class="swiper-bogdasha">
        <span data-aos="fade-up">Эта ты <3</span>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="src/images/bogdasha-1.jpg" alt=""></div>
              <div class="swiper-slide"><img src="src/images/bogdasha-2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="src/images/bogdasha-3.jpg" alt=""></div>
              <div class="swiper-slide"><img src="src/images/bogdasha-4.jpg" alt=""></div>
              <div class="swiper-slide"><img src="src/images/bogdasha-5.jpg" alt=""></div>
              <div class="swiper-slide"><img src="src/images/bogdasha-6.jpg" alt=""></div>
            </div>
        </div>
        
    </div>
    <div class="swiper-den">
        <span data-aos="fade-up">Эта я </span>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="src/images/den-1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/den-2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/den-3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/den-4.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <img src="" alt="">
    <div class="swiper-archik">
        <span data-aos="fade-up">Эта наш сыночек</span>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="src/images/arch-1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-8.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-9.jpg" alt=""></div>
                <div class="swiper-slide"><img src="src/images/arch-10.jpg" alt=""></div>
            </div>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="src/scripts/q-5.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>