<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>valentine</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Dela+Gothic+One&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
    <header class="t2">
        go next? 
    </header>
    <div class="q-btns2">
        <a href="#" class="q-btn2">
            YES
        </a>
        <a href="#" class="q-btn2">
            NO
        </a>
    </div>
    <main class="m2">
        <img src="https://media1.tenor.com/m/aZ1PR9DpnOYAAAAC/annoyed-disappointed.gif" alt="">
        <img src="https://media1.tenor.com/m/Fri8F_tkuhgAAAAC/%D1%81%D0%BF%D0%BE%D0%BA%D0%BE%D0%B9%D0%BD%D0%BE%D0%B9%D0%BD%D0%BE%D1%87%D0%B8-good-night.gif" alt="">
        <img src="https://media1.tenor.com/m/_RmmOxybyKkAAAAC/spasibo-thank-you.gif" alt="">
    </main>




    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="src/scripts/q-2.js"></script>
</body>

</html>