<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>valentine</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Dela+Gothic+One&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
    <header data-aos="fade-left">your wishlist</header">
    <a href="four.page.html" class="next">next-></a>

    <div class="wishlist" data-aos="fade-up">
        <div class="wish-list-input">
            <input class="wshInput" type="text">
            <button id="add">Добавить</button>
        </div>
        <div class="title" data-aos="fade-up">
            список:
        </div>
        <div class="wish-list" data-aos="fade-up">
            <div class="null">
                ПУСТО!
            </div>
        </div>
    </div>



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="src/scripts/q-3.js"></script>
</body>

</html>